div.design {
background: black;
}
div.design * {
font-family: 'Lato', sans-serif;
box-sizing: border-box;
}
div.design h1 {
background: black;
color: #dcdcdc;
font-size: 28px;
padding: 12px 34px 12px 38px;
line-height: normal;
width: 98%;
margin: 1em 0 .5em -38px;
background: #45484d;
background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
transform: skew(-25deg);
font-weight: normal;
}
div.design h1 span {
transform: skew(25deg);
display: block;
}
div.design h2 {
background: black;
color: #dcdcdc;
font-size: 24px;
padding: 12px 30px 12px 38px;
line-height: normal;
margin: 1em 0 .5em -38px;
display: inline-block;
background: #45484d;
background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
transform: skew(-25deg);
font-weight: normal;
}
div.design h2 span {
transform: skew(25deg);
display: block;
}
div.design ul {
padding-left: 20px;
list-style-type: square;
}
div.design ul li {
margin-bottom: 0.25em;
}
div.header, div.footer {
width: 100%;
min-height: 100px;
background: black;
line-height: normal;
padding: 0;
margin: 0;
overflow: hidden;
}
div.article {
line-height: normal;
padding: 34px 24px 52px;
border-top: none;
border-bottom: none;
background: #dcdcdc;
margin: 0 34px;
border-radius: 0 50px;
overflow: hidden;
}
div.header img {
width: 100%;
max-width: 1600px;
margin: 0 auto;
display: block;
height: auto;
}
div.footer {
padding: 24px 34px;
color: #878787;
text-align: center;
color: #dcdcdc;
}
a.button {
display: inline-block;
background: #fff;
padding: 14px 24px;
text-decoration: none;
color: white;
margin: 1em 0;
background: #45484d;
background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
border: solid #fff 1px;
font-size: 24px;
transform: skew(-25deg);
transition: all .2s ease-in-out;
}
a.button span {
transition: all .2s ease-in-out;
}
a.button:hover {
opacity: .85;
transform: scale(1.1);
}
a.button:hover span {
transform: scale(1);
}
a.button span {
display: block;
transform: skew(25deg);
}
div.design p, div.design ul {
margin: 1em 0;
}
div.footer p {
max-width: 560px;
margin-left: auto;
margin-right: auto;
}
