body {
margin: 0;
}
div.design {
background: black;
/* background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 85%);
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 25%,rgba(0,0,0,0) 85%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 25%,rgba(0,0,0,0) 85%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
*/
}
div.design * {
font-family: 'Lato', sans-serif;
box-sizing: border-box;
}
div.design h1 {
color: #000000;
font-size: 32px;
padding: 0;
line-height: normal;
margin: .5em 0 1em;
text-transform: uppercase;
word-wrap: break-word;
/* color: #b31c22;
*/
text-decoration: underline;
}
div.design h2 {
background: black;
color: #dcdcdc;
font-size: 24px;
padding: 12px 30px 12px 38px;
line-height: normal;
margin: 1em 0 .5em -38px;
display: inline-block;
background: #45484d;
background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
transform: skew(-25deg);
font-weight: normal;
}
div.design h2 span {
transform: skew(25deg);
display: block;
}
div.design ul {
padding-left: 20px;
list-style-type: square;
}
div.design ul li {
margin-bottom: 0.25em;
}
div.header, div.footer {
width: 100%;
line-height: normal;
padding: 0;
margin: 0;
overflow: hidden;
}
div.article {
line-height: normal;
padding: 34px 24px 52px;
border-top: none;
border-bottom: none;
background: #dcdcdc;
margin: 0 34px;
border-radius: 0 50px;
overflow: hidden;
}
div.header img {
width: 100%;
max-width: 1600px;
margin: 0 auto;
display: block;
height: auto;
}
div.footer {
padding: 24px 34px;
color: #878787;
color: #dcdcdc;
background: url(https://raw.githubusercontent.com/mrfloppi/ebay-dwo/master/contact-dwo.jpg) no-repeat;
background-size: 284px;
background-position: right 34px top 24px;
background-size: contain;
background-position: bottom right;
background-size: 380px 223px;
padding-bottom: 250px;
transition: all .2s ease-in-out;
}
a.button {
display: inline-block;
background: #fff;
padding: 14px 24px;
text-decoration: none;
color: white;
margin: 1em 0;
background: #45484d;
background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
border: solid #fff 1px;
font-size: 24px;
transition: all .2s ease-in-out;
width: 100%;
text-align: center;
box-shadow: 0 0 10px 15px black;
}
a.button span {
transition: all .2s ease-in-out;
}
a.button:hover {
transform: translateY(-4px);
}
a.button:hover span {
}
a.button span {
display: block;
}
div.design p, div.design ul {
margin: 1em 0;
}
.image-holder img {
display: block;
width: 100%;
height: auto;
border: solid black 1px;
padding: 6px;
}
.image-gallery .image-holder:nth-child(4n) {
margin-right: 0;
}
div.image-gallery {
display: flex;
flex-wrap: wrap;
}
.image-holder {
/* width: 100%;
margin: 0 0 2%;
*/
width: 48%;
margin: 0 2% 2% 0;
}
.navbar {
/* background: red;
*/
display: table;
width: 100%;
margin: -34px 0px 42px -24px;
table-layout: fixed;
border-collapse: collapse;
border-radius: 0 0 46px 0;
overflow: hidden;
}
a.menu-item {
border: solid white 1px;
display: table-cell;
text-align: center;
background: #44474b;
color: #fff;
padding: 12px;
text-decoration: none;
font-size: 14px;
transition: all .2s ease-in-out;
}
a.menu-item:hover {
background: black;
}
@media (min-width: 420px) {
.image-holder {
width: 48%;
margin: 0 2% 2% 0;
}
}
@media (min-width: 680px) {
.image-holder {
width: 23%;
}
div.footer p {
/* max-width: 560px;
margin-left: auto;
margin-right: auto;
*/
max-width: 50%;
}
div.footer a.button {
max-width: 50%;
}
div.footer {
padding-bottom: 0;
background-size: 48%;
background-position: right bottom;
}
/* a.button {
transform: skew(-25deg);
}
a.button span {
transform: skew(25deg);
}
*/
}
@media (min-width: 1060px) {
div.footer {
margin-top: 24px;
background-size: contain;
}
}
